.search {
    margin-bottom: 1%;
}
.searchInputsContainer {
    display: flex;
    align-items: center;
 @media only screen and (max-width: 600px) {
 .searchInputsContainer {
   flex-direction: column;
   align-items: left;
  }
.sliderContainer{
    width: 300px;
    margin-top: 3%;
    margin-left: 0px;
}
}
.searchInputs {
    margin-top: 3%;
    display: flex;
    place-items: center;
    background-color: white;
    width: 350px;
    border-radius: 0px 10px 10px 0px;
}
.searchInputs button{
    border: 0;
}

.search input{
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;

}

.searchIcon svg {
    font-size: 35px;
    color: black;

}

.dataResult {
    margin-top: 5px;
    /* width: 300px; */
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar{
    display: none;
}

.dataResult .dataItem {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;

}

.sliderContainer{
    width: 300px;
    margin-top: 3%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.sliderValueBox{
    margin: 0;
    color: azure;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}

#clearButton {
    cursor: pointer;
}
